$brand-blue: #1b72b8;
$brand-black: #231e20;
$text-color: #51555A;
$text-color-alt: #596E80;
$dark-blue: #3E4A5A;
$dark-gray: #737880;
$light-gray: #ACB4BF;
$whitey: #F6F6F6;

.simple-list {
  list-style-type: none !important;
  padding: 0.5em 0em;
}

body {
  margin-top: 60px;
  background: $whitey;
  color: $text-color;
  font-family: "Signika", serif;
  #logo {
    height: 60px;
  }
  #navbar {
  }
  h5, h6 {
    font-family: "Muli", sans-serif;
  }
  .navbar-default {
    box-shadow: none;
    border-bottom: 1px solid $light-gray;
    font-family: "Muli", sans-serif;
    text-transform: uppercase;
  }
  .navbar-default .navbar-nav>li>a {
    color: $brand-black;
    font-weight: bold;    
    text-shadow: none;
  }
  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: $whitey;
    background-color: $brand-blue;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background: $brand-black;
    color: $whitey;
    box-shadow: none;
  }
  .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: $brand-black;
    color: #888;
  }  
  #hero {
    padding: 3em;
    h3 {
      padding: 1.5em;
      text-align: center;
    }
  }
  .dropped {
    background: #ccc;
  }
  .splash {
    position: relative;
    padding: 1.5em 3em 4.5em 3em;
    background: white;
    box-shadow: 0 1px 3px rgba(155, 155, 155, 0.8);
    border-radius: 1px;
    min-height: 412px;
    margin-bottom: 1em;
    .img-wrapper {
      background: $whitey;
      width: 100%;
      height: 100%;
      margin: 0.5em auto;
      img {
        max-height: 150px;
        margin: 0 auto;
      }
    }
    .continuum-bg {
      padding: 0.5em 3em;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: $brand-blue;  
      color: $brand-blue;
    }
    .continuum {
      padding: 0.5em 3em;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: white;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;      
      &:hover {
        -webkit-transform: translate(3em,0);
        -moz-transform: translate(3em,0);
        -o-transform: translate(3em,0);
        -ms-transform: translate(3em,0);
        transform: translate(3em,0);        
        text-decoration: none;
        color: $brand-black;
      }
      .follow {
        font-size: 2em;
        line-height: 0;
        vertical-align: middle;
      }
    }
  }
  footer {
    padding: 1.5em;
    margin-top: 3em;
    background: $dark-blue;
    color: $whitey;
    hr { border: 0; border-bottom: 3px double $brand-black;}
    a {
      color: $light-gray;
      &:hover { color: $whitey; }
    }
  }
}

@media (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}