$brand-blue: #1b72b8;
$brand-black: #231e20;
$text-color: #51555A;
$text-color-alt: #596E80;
$dark-blue: #3E4A5A;
$dark-gray: #737880;
$light-gray: #ACB4BF;
$whitey: #F6F6F6;
$nav-space: 10em;

.simple-list {
  list-style-type: none !important;
  padding: 0.5em 0em;
}

body {
  font-size: 15px;
  margin-top: 60px;
  background: $whitey;
  color: $text-color;
  font-family: "Asap", sans-serif;
  .btn {
    border-radius: 2px;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    &:hover {
      text-decoration: none;
      color: $brand-black;
    }
    &:active {
      position: relative;
      top: 2px;
    }
  }
  .btn-primary { background: $brand-blue;}
  .with-nav { margin-top: $nav-space; }
  .author{
    background: $brand-blue;
    color: $whitey;
    font-size: 18px;
    display: inline-block;
    padding: 15px 30px;
    text-align: center;
    float: right;
    margin: 0 0 1.5em 1.5em;
  }
  .tags a {
    background: $brand-blue;
    color: $whitey;
    margin: 0 1em 0 0;
    padding: 0.5em 1em;
  }
  #logo { height: 60px; }
  .navbar-default {
    background: #FFF;
    box-shadow: none;
    border-bottom: 1px solid $light-gray;
    text-transform: uppercase;
  }
  .navbar-default .navbar-nav>li>a {
    color: $brand-black;
    font-weight: bold;
    text-shadow: none;
  }
  .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: $whitey;
    background-color: $brand-blue;
  }
  .navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.open>a {
    background: $brand-black;
    color: $whitey;
    box-shadow: none;
  }
  .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    background: $brand-black;
    color: #888;
  }
  #hero {
    background: url(../images/featured2.jpeg) no-repeat center -150px fixed;
    background-size: cover;
    padding: 3em 0 13em 0;
    #identity { height: 200px; }
    h3 {
      color: $brand-black;
      text-shadow: 0 0 10px #fff;
      padding: 1.5em;
      text-align: center;
    }
  }
  .dropped { background: #ccc; }
  .row { margin-top: 1.5em; }
  h1 {
    margin: 0.5em 0;
    text-transform: uppercase;
    border-bottom: 3px double black;
    line-height: 1.333;
  }
  h1:first-letter{
    background: $brand-black;
    color: $whitey;
    padding: 0 3px;
    margin: 0 1px 0 0;
  }
  .img-responsive { margin: 1.5em 0; }
  .splash {
    position: relative;
    padding: 1.5em 3em 4.5em 3em;
    background: #FFF;
    border: 2px solid $brand-blue;
    border-radius: 3px;
    min-height: 412px;
    margin-bottom: 1em;
    .img-wrapper {
      background: $whitey;
      width: 100%;
      height: 100%;
      margin: 0.5em auto;
      img {
        max-height: 150px;
        margin: 0 auto;
      }
    }
    .continuum-bg {
      padding: 0.5em 3em;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      background: $brand-blue;
      color: $brand-blue;
    }
    .continuum {
      padding: 0.5em 3em;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      color: $whitey;
      -webkit-transition: 0.3s ease-in-out;
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      &:hover {
        -webkit-transform: translate(3em,0);
        -moz-transform: translate(3em,0);
        -o-transform: translate(3em,0);
        -ms-transform: translate(3em,0);
        transform: translate(3em,0);
        text-decoration: none;
        color: $brand-black;
      }
      .follow {
        font-size: 18px;
        line-height: 0;
        vertical-align: middle;
      }
    }
  }
  footer {
    padding: 1.5em;
    margin-top: 3em;
    background: $dark-blue;
    color: $whitey;
    hr { border: 0; border-bottom: 3px double $brand-black;}
    a {
      color: $light-gray;
      &:hover { color: $whitey; }
    }
  }
}
@media screen and (min-width: 768px) {
  .navbar-nav>li>a {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
@media screen and (min-width: 1280px) {
  body {
    #hero {
      background: url(../images/featured2.jpeg) no-repeat center -225px fixed;
      background-size: cover;
      padding: 6em 0 15em 0;
      h3 { font-size: 30px; }
    }
  }
}
@media screen and (min-width: 1920px) {
  body {
    #hero {
      background: url(../images/featured2.jpeg) no-repeat center -400px fixed;
      background-size: cover;
      padding: 6em 0 13em 0;
      h3 { font-size: 30px; }
    }
  }
}
@media screen and (max-width: 767px) {
  body {
    margin-top: 0;
    .navbar-header { display: none; }
    .with-nav { margin-top: 0; padding-top: 1.5em; }
    .navbar-default {
      position: static;
      margin: 0;
    }
    .nav>li {
      width: 50%;
      display: inline-block;
      float: left;
    }
    .navbar-nav { margin: 0 -15px; }
    .author {
      display: block;
      margin: 0 0 1.5em 0;
      width: 100%;
    }
    #hero {
      background: url(../images/featured.jpeg) no-repeat -125px -50px fixed;
      background-size: 300%;
      /* Adjust first according to nav count */
      padding: $nav-space 0 3em 0;
      #identity { height: 100px; }
      h3 { font-size: 18px; }
    }
  }
}
